@using Bober.Models.DatabaseModels;
@model Bill
@{
    ViewData["Title"] = "Edit";
}

<form method="post">
    <div class="border border-info p-3 mt-4">
        <div class="pb-2">
            <h2 class="text-info">Изменить счет</h2>
            <hr class="border-info" />
        </div>
        <div class="mb-3">
            <label asp-for="DateStart"></label>
            <input asp-for="DateStart" class="form-control" />
            <span asp-validation-for="DateStart" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DateFinish"></label>
            <input asp-for="DateFinish" class="form-control" />
            <span asp-validation-for="DateFinish" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Summ"></label>
            <input asp-for="Summ" class="form-control" />
            <span asp-validation-for="Summ" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DogovorID"></label>
            <input asp-for="DogovorID" class="form-control" />
            <span asp-validation-for="DogovorID" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-info w-100">Принять изменения</button>
            </div>
            <div class="col">
                <a asp-controller="Bill" asp-action="Index" class="btn btn-secondary w-100">Вернуться к списку</a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
                <partial name="_ValidationScriptsPartial"></partial>
    }
}