@using Bober.Models.DatabaseModels;
@model Zastr
@{
    ViewData["Title"] = "Delete";
}

<form method="post">
    <div class="border border-info p-3 mt-4">
        <div class="pb-2">
            <h2 class="text-info">Удалить застройщика</h2>
            <hr class="border-info" />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" readonly />
        </div>
        <div class="mb-3">
            <label asp-for="Status"></label>
            <input asp-for="Status" class="form-control" readonly />
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-info w-100">Удалить</button>
            </div>
            <div class="col">
                <a asp-controller="Zastr" asp-action="Index" class="btn btn-secondary w-100">Вернуться к списку</a>
            </div>
        </div>
    </div>
</form>
