@{
    ViewData["Title"] = "О тебе";
}

<body class="main-bg">
    <div class="container">
        <main role="main" class="pb-3">
            <h1 class="text-center display-4">Приветствуем</h1>
            <div align="center">
                <div class="row col-9 pt-3">
                    <div class="col text-left ">
                        Добро пожаловать на сайт компании <strong>BobrStroi</strong>!
                        <div class="col">
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>