@{
    ViewData["Title"] = "О тебе";
}

<h1 class="text-center display-4">Информация обо мне</h1>
<div align="center">
    <div class="row col-9 pt-3">
        <div class="col text-left ">
            Привет Меня зовут <strong>Богбан</strong>. ueueufuf
            <div class="col">
                <img class=" w-75" src="/images/fs.jpg" />
            </div>
        </div>
    </div>
</div>
